<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Guia de Perguntas</title>
</head>

<body>
    <h1>Guia de Perguntas</h1>

    <p>Nome = <%= nome %>
    </p>
    <p>Linguagem preferida = <%= lang %>
    </p>
    <p> Minha empresa é a <%= empresa %>
    </p>
    <%= inscritos %>

        <% if(!msg){ %>
            <h3>Algo de errado aconteceu</h3>
            <%}else { %>
                <h3>Tudo certo ate agora</h3>
                <%} %>

                    <% produtos.forEach(function(produto) { %>
                        <hr>
                        <h3>
                            <%= produto.nome %>
                        </h3>
                        <h4>
                            <%= produto.preco %>
                        </h4>
                        <% }) %>

</body>

</html>